body {
    position: relative;
    font-family: Raleway, Helvetica, Arial, sans-serif;
    font-size: 14px;
    width: 800px;
    margin: 0 auto;
    padding: 10px;
    color: #333;
}

textarea {
  width: 500px;
  height: 24px;
  font-size: 17px;
  font-family: monospace;
}

input[type=button] {
  font-size: 18px;
}

input[type=text] {
  font-size: 18px;
}

table {
  border-radius: 10px;
}

.main-title {
    display: block;
    color: #222;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    text-decoration: none;
}

.nickname {

}