body {
    position: relative;
    font-family: Raleway, Helvetica, Arial, sans-serif;
    font-size: 14px;
    width: 800px;
    margin: 0 auto;
    padding: 10px;
    color: #333;
}

table {
  border-radius: 10px;
  border: 3px solid #BFBFBF;
}

#users {
    background-color: #F5F5F5;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-right: 3px solid #BFBFBF;
    height: 400px;
    width: 100px;
}

.main-title {
    display: block;
    color: #222;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    text-decoration: none;
}

.nickname {
    color: green;
}

#messages {
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: 3px solid #BFBFBF;
    min-height: 400px;
}

#chatters {
    color: green;
}

#input-data{
    margin-bottom: 0;
    padding: 0px;
    height: 20px;
}

#messageInput {
    margin: 0 0 0 0;
    border: none;
    font-size: 20px;
    outline: none;
}

#btnSend {
    background-color: #4B4B4B;
    color: #898989;
    border: none;
    border-bottom-right-radius: 6px;
    margin: 0 0 0 0;
    font-size: 20px;
    width: 100px;
}

#btnSend:hover{
    background-color: #5a5a5a;
}
